body {
    margin: 0;
    padding: 0;
    background: url("../img/knight.jpg");
    overflow: hidden;
}

.intro {
    margin-top: 50px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: rgba(0, 0, 0, 0.5) 1px solid;
    border-radius: 30px;
}

.intro h1 {
    text-align: center;
}